<div class="container" style="padding: 3%">
    <form>
        <div class="form-group">
            <div class="input-group mb-2" data-toggle="tooltip" title="Entrer la refrence de l'echelle">
                <div class="input-group-prepend">
                    <div class="input-group-text">Reference</div>
                </div>
              <input [(ngModel)]="loiEvolution.reference" class="form-control" id="reference" name="reference"
                     placeholder="Reference"
                     type="text">
            </div>
            <br>
            <div class="form-row">
                <div class="col">
                    <div class="input-group mb-2" data-toggle="tooltip" title="Entrer la date debut de la loi">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Date Debut</div>
                        </div>
                      <input [(ngModel)]="loiEvolution.dateDebut" class="form-control" id="dateDebut" name="dateDebut"
                             type="date">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-2" data-toggle="tooltip" title="Entrer la date fin de la loi">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Date Fin</div>
                        </div>
                      <input [(ngModel)]="loiEvolution.dateFin" [min]="loiEvolution.dateDebut" class="form-control"
                             id="dateFin" name="dateFin"
                             type="date">
                    </div>
                </div>
            </div>
            <br>
            <div class="input-group mb-2" data-toggle="tooltip" title="Entrer la description de la loi">
                <div class="input-group-prepend">
                    <div class="input-group-text">Description</div>
                </div>
              <textarea [(ngModel)]="loiEvolution.description" class="form-control" id="description" name="description"
                        placeholder="description"
                        rows="3"></textarea>
            </div>
            <br>
          <button (click)="addLoiEvolution()" class="btn btn-outline-success" type="button">Ajouter</button>
        </div>
    </form>
</div>

